
  <ion-header >
    <ion-toolbar> 
      <img slot="start" style="height: 50px;" src="https://scontent.fmnl6-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/117769762_2435409836763791_4676976137666678356_n.png?_nc_cat=105&_nc_sid=b96e70&_nc_eui2=AeFphmMv09MX1ywdV8XCZQFZsfwI5oXjZQmx_AjmheNlCY69e4P6j4QuSJl1R7V1XnyPbaxBRBOH8BN76xtcZaFD&_nc_ohc=xM8g2Bya5DgAX_cXLHH&_nc_ht=scontent.fmnl6-1.fna&oh=3566a9f254b413e3b3a708c5430871ee&oe=5F60DA46" alt="">
      <ion-item slot="end">
        <ion-buttons>
          <ion-button fill="outline" color="primary" [routerLink]="['/gov-lgu/t']">
            Business
          </ion-button>
          <ion-button fill="outline" color="primary">
            Gov/Lgu
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-header>

<ion-tabs style="top: 60px;"  tabbarPlacement="top" primary  > 
  <ion-tab-bar slot="top"> 
    <ion-tab-button tab="community">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="chat">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button> 
  </ion-tab-bar> 
</ion-tabs>
   