<div [divGroup]="surveydiv" style="padding-bottom: 90px;">
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Fullname</ion-label>
    <ion-input  value="Juan dela cruz"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Farm address</ion-label>
    <ion-input  value="Mission Rd to Dugo - San Vicente Rd in Santa Teresita"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Contact number</ion-label>
    <ion-input  value="+63912345678"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Email</ion-label>
    <ion-input  value="juandelacruz@email.com"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Land lord name</ion-label>
    <ion-input  value="Teresita Cruz"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Farm Hectare 1:</ion-label>
    <ion-input value="Crops 1" ></ion-input>
  </ion-item> 
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Number of harvest in a year?</ion-label>
    <ion-input  value="540 sacks"></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Estimated yearly value</ion-label>
    <ion-input value="200,000 php" ></ion-input>
  </ion-item>
  
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Farm Hectare 1:</ion-label>
    <ion-input value="Crops 2" ></ion-input>
  </ion-item>  
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Number of harvest in a year?</ion-label>
    <ion-input value="400 sacks" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Estimated yearly value</ion-label>
    <ion-input value="150,000 php" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">What are the equipment you need?</ion-label>
    <ion-input value="Walis tambo" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">What are the farm fertilizer you need?</ion-label>
    <ion-input value="Tae ng kalabaw" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">What type of training you need?</ion-label>
    <ion-input value="Farming" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Do you have a standing loan?</ion-label>
    <ion-select placeholder="Yes">
      <ion-select-option value="f">Yes</ion-select-option>
      <ion-select-option value="m">No</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">How much? </ion-label>
    <ion-input value="500,000 php" ></ion-input>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">Do you need a loan?</ion-label> 
    <ion-select placeholder="Yes">
      <ion-select-option value="f">Yes</ion-select-option>
      <ion-select-option value="m">No</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item color="transparent" style=" margin-top: 30px;" class="ion-no-padding">
    <ion-label position="floating">How much? </ion-label>
    <ion-input value="350,000" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-button slot="end">submit</ion-button>
  </ion-item>
</div>