@import '../../app.component.scss';

.main {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    .chat-box {
        width: 100%;
        height: 100%;
        position: relative; 
        .message-area {
        // max-height: 90%;
        height: 95%;
        overflow: auto;
        padding: 15px 10px;
        .message {
            p { 
            font-size: 13px;  
            line-height: 1.34;
            margin: 0px;
            max-width: 75%;
            min-width: 15%;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            padding: 10px 15px 10px 7px;
            margin: 5px 0;
            background: #F1F0F0;
            }
        }
        .message.incoming {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            p {
              color: #2A2D2E; 
              border-radius: 0 11px 11px 11px; 
              a { 
                color: #2A2D2E; 
              }
            }
        }
        .message.outgoing {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            p {
              color: #F1F0F0;
                border-radius: 11px 11px 0 11px;
                background: $primary; 
              a { 
                color: rgb(250, 250, 250);
                  border-radius: 11px 11px 0 11px;
                  background: $primary;
              }
            }
        }
        }
        // .emo-area {
        // position: absolute;
        // bottom: 50px;
        // left: 0;
        // width: 100%;
        // padding: 3px 10px;
        // }
    }
}

.input-area {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    form {
      display: flex;
      height: 100%;

      ion-input {
        width: 82%;
        border: none;
        padding: 5px 10px; 
        font-size: 14px; 
        font-family: 'Titillium Web', sans-serif;
        background: inherit;
        &:focus {
          outline: none;
        }
      }
      button {
        width: 18%;
        border: none;
        color: $primary;
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: inherit;
        ion-icon {
          font-size: 3rem;
        }
      }
    }
  }
   .imgview{
    border:1px solid #C0BFC0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 420px;
    margin-bottom: 3px;
    margin-left: 3px; 
    margin-top: 3px;
    background-color: white;
    cursor: pointer;
   }
   .imgview:hover{
    opacity: 0.3;
   }

ion-icon{
  cursor: pointer;
}

.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}


.getstart { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}