<ion-content > 
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="8" size-lg="8"
    offset="0" offset-sm="0" offset-md="2" offset-md="2"> 
        <ion-item lines="none" detail="false"> 
          <ion-buttons slot="start" onclick="window.history.back()">
            <ion-button>
              <ion-icon slot="icon-only" 
              name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons> 
          <h3>Bicol Dashboard</h3>
        </ion-item>
        <ion-row>
          <ion-col   size="12" size-sm="12" size-md="12" size-lg="12" class="card"> 
            <div  class="container">
              <h3>Agriculture sector</h3>
              <div id="chartdiv"></div>
            </div>
          </ion-col>
          <ion-col  size="12" size-sm="12" size-md="12"  size-lg="12" class="card"> 
            <div  class="container">
              <h3>Status</h3>
              <div id="lineChart"></div>
            </div>
          </ion-col> 
        </ion-row>
        <h2>Farmers</h2>
        
        <ion-list  class="ion-no-padding"> 
          <div  *ngFor="let maindata of maindatas" [routerLink]="['/farmer/farmer-main/chat/2']"> 
            <ion-item lines="full" button detail="false"> 
              <ion-row style="width: 100%;">  
                <ion-col   size="2" size-sm="2" size-md="1" size-lg="1.5"> 
                  <ion-avatar style="height: 50px; width:50px; margin-top: 5px; margin-right: 15px;">
                    <img loading="lazy"  src="{{maindata.profile}}">
                  </ion-avatar>  
                </ion-col>
                <ion-col  size="10" size-sm="10" size-md="8.5" size-lg="6"> 
                  <ion-label class="wraptext" style="margin-top: 10px;">
                    <h2 style="margin-bottom: 0px;">{{maindata.displayName}}</h2> 
                    <p style="
                    margin-top: 3px;
                    margin-bottom: 5px;" >{{maindata.msg}} </p>
                     <p style="
                     margin-top: 3px;
                     margin-bottom: 5px;
                     font-size: 10px;" >{{maindata.createdAt}} </p>
                  </ion-label> 
                </ion-col> 
                <ion-col size="12" size-sm="12" size-md="auto" size-lg="auto"> 
                  <ion-buttons >
                    <ion-button color="primary">
                      View Profile
                    </ion-button>
                    <ion-button color="primary">
                      Contact
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row> 
            </ion-item> 
          </div> 
        </ion-list>  
    </ion-col>
  </ion-row>
</ion-content>

  