 

<ion-content > 
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="8" size-lg="8"
      offset="0" offset-sm="0" offset-md="2" offset-md="2">
      <div  >  
        <!-- <ion-list *ngIf="maindatas.length == 0"> 
          <ion-item  *ngFor="let a of ['','','','','','']">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list> -->
      
        <ion-list  class="ion-no-padding"> 
          <div class="card">
            <div class="container">
              <textarea col="20" row="10" class="input-post" placeholder="What's on you mind?"></textarea>
              <ion-item lines="none" detail="false"> 
                <ion-buttons slot="end">
                  <ion-button> 
                    <p>Add image</p>
                  </ion-button>
                  <ion-button> 
                    <p>Add file</p>
                  </ion-button>
                  <ion-button fill="solid" color="primary"> 
                    <p>Post</p>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </div>
          </div>
          <div class="card">
            <div class="container1">
              <ion-list>
                <ion-item lines="full" detail="false">
                  <h4 style="font-weight: bold;">Price Watch</h4>
                </ion-item>
                <ion-item lines="full" detail="false" style="width:100%"> 
                  <ion-row style="width:100%;">
                    <ion-col size="12">
                      <h6 style="margin-bottom: 0px;font-weight: bold;">Manila</h6>
                    </ion-col>
                    <ion-col size="12">
                      <ion-row >
                        <ion-col size="12" size-sm="12" size-md="12" size-lg="6"> 
                          <ion-list class="ion-no-padding" style="margin-bottom:10px" >
                            <ion-item   style="height: 30px;" lines="none" detail="false"  *ngFor="let a of ['Malunggay','Kalabasa','Hipon','Taba ng baboy']">
                              <p style="margin:0px ;font-weight: 300;" slot="start">{{a}}</p>
                              <p style="margin:0px"  slot="end">₱125.00</p> 
                            </ion-item> 
                          </ion-list>
                        </ion-col>
                        <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
                          <ion-list class="ion-no-padding" style="margin-bottom:10px" >
                            <ion-item   style="height: 30px;" lines="none" detail="false"  *ngFor="let a of ['Mango','Monggo','Talong','Papaya']">
                              <p style="margin:0px ;font-weight: 300;" slot="start">{{a}}</p>
                              <p style="margin:0px"  slot="end">₱125.00</p> 
                            </ion-item> 
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-col> 
                  </ion-row>
                </ion-item>
                <ion-item lines="none" button detail="false">
                  <div class="show-more">
                    <h5>Show More</h5>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </div>
          <div  *ngFor="let maindata of maindatas"  > 
            <ion-item lines="full" button detail="false"> 
              <ion-row style="width: 100%;">  
                <ion-col   size="2" size-sm="2" size-md="1" size-lg="1"> 
                  <ion-avatar style="height: 50px; width:50px; margin-top: 5px; margin-right: 15px;">
                    <img loading="lazy"  src="{{maindata.profile}}">
                  </ion-avatar>  
                </ion-col>
                <ion-col   size="10" size-sm="10" size-md="8.5" size-lg="8.5"> 
                  <ion-label class="wraptext" style="margin-top: 10px;">
                    <h2 style="margin-bottom: 0px;">{{maindata.displayName}}</h2> 
                    <ion-text color="dark"   > 
                      <p style="
                      margin-top: 3px;
                      margin-bottom: 5px;" >{{maindata.msg}} </p></ion-text>
                  </ion-label> 
                </ion-col>
                <!-- <ion-col style="padding: 5px;" size="9.5" size-sm="9.5" size-md="2.5" size-lg="2.5"
                offset="2" offset-sm="2" offset-md="0" offset-lg="0"> 
                  <ion-button
                  [routerLink]="['/login']" size="default" 
                  fill="outline"
                  style=" width: 100%;
                  margin-top: 15px;
                  margin-right: 15px;">
                    Engage
                    <ion-icon slot="end" name="chevron-forward" ></ion-icon>
                  </ion-button>
                </ion-col>   -->
                <ion-col *ngIf="maindata.files" style="margin-top: 20px;"  size="12" size-sm="12" size-md="12" size-lg="11"
                offset="0" offset-sm="0" offset-md="0" offset-lg="1" > 
                  <div  
                    class="content-more">  
                    <div class="moreimages"
                    *ngIf="maindata.files.length > 1">
                      <p>{{maindata.files.length}} more images</p>
                    </div> 
                    <div  class="cus-img"
                    *ngIf="maindata.files.length != 0">
                      <img loading="lazy" [src]="maindata.files[0]"> 
                    </div>  
                  </div> 
                </ion-col> 
                <ion-col>
                  <ion-item color="tranparent" class="ion-no-padding" lines="none"> 
                    <ion-buttons slot="end">
                      <ion-button>
                        <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
                        <p slot="end">Heart</p>
                      </ion-button>
                      <ion-button>
                        <ion-icon slot="start" name="repeat-outline"></ion-icon>
                        <p slot="end">Reply</p>
                      </ion-button>
                      <ion-button>
                        <ion-icon slot="start" name="send-outline"></ion-icon>
                        <p slot="end">Share</p>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </ion-col>
              </ion-row> 
            </ion-item> 
          </div> 
        </ion-list>  
      </div>
    </ion-col>
  </ion-row>
</ion-content> 