
  
<ion-content>
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="8" size-lg="8"
      offset="0" offset-sm="0" offset-md="2" offset-md="2">
      <h4>Farmers monitoring</h4>
      <ion-row>
        <ion-col size="auto" class="ion-no-padding">
          <h6>Legend:</h6>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #3E50B4; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> To market</p>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #F44236; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> Lack of machinery</p>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #9C26B0; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> Oversupply</p>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #4BAF4F; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> Good for harvest</p>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #01BBD4; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> Lack of financial</p>
          </ion-item>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-item lines="none" detail="false">
            <div style="background-color: #607C8A; margin-right: 5px; width: 20px;height: 20px; border-radius: 25px;"></div>
            <p> Others</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <div id="map" class="map demo-area"></div>
    </ion-col>
  </ion-row>
</ion-content>