
.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }.super-center { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }